@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Playfair+Display&display=swap');

/* BASE CSS */

body {
    background-color:rgb(255, 255, 255);
}

.container {
    margin-top: 25vh;   
}

.col-3 {
    height: 20vh;
}

.card-img-top {
    object-fit: cover;
}

.carousel-inner {
    background-color: black;
    margin-top: 0vh;
    height: 30vh;
    width: 100vw;
}

.carousel-item {
    height: 40vh;
    width: 100vw;
    background-color: lightblue;
}   

img {
    object-fit: cover;
    z-index: 0;
}

.container {
    height: 60vh;
    margin-top: 3vh;
}

.display-1{
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 1px #000000;
    font-size: 10vh; 
    color: white; 
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.col-6 {
    margin-top: 2vh;
    height: 45vh;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
}



.display-3 {
    margin-top: 3vh;
    font-family: 'Playfair Display', serif;
    font-size: 5vh;
}

.small-img {
    object-fit: contain;
    margin-top: 2px;
    width: 100%;
    height: 60%;
    margin-bottom: 1vh;
}

.offcanvas-img {
    height: 80%;
}

p {
    color: black;
}


.bottom-text {
    margin-top: 5px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;

}

s {
    color:grey;

}

.banner {
    margin-top: 23vh;
    height: 8vh;
    background-color: burlywood;
    width: 100%;

}

.footer {
    background-color: grey;
    margin-top: 60vh;
    width: 100vw;
    height: 40vh;
    position: absolute;
    left: 0px;
}

.footer-col {
    margin-top: 0vh;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.lic {
    margin-top: 12vh;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightgray;
    font-size: large;
}


.navbar {
    font-family: 'Playfair Display', serif; 
}

hr {
    opacity: 15%;
}

.offcanvas-body {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offcanvas-title {
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}



/* .hover-add-basket {
    position: absolute;
    width: 5vh;
    height: 5vh;
    margin-left: 8.9vw;
    border-radius: 2px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 2px;
    color: white;
    
} */

.btn-lg {
    font-size: 1.25rem;
    font-weight: bold;
}


.offcanvas-hr{
    margin-top: 0;
}


.small-carousel-img {
    position: absolute;
    object-fit: contain;
    margin-top: 2px;
    width: 100%;
    height: 70%;
    margin-left: 12vw;
    z-index: 1;

}

.carousel-text-heading {
    font-size: 3.5vh;
    position: absolute;
    display: inline;
    top: 6vh;
    left: 28vw;
    max-width: 30vw;
    font-family: 'Playfair Display', serif; 
    color: white;
    text-shadow: 1px 1px 1px #000000;
    z-index: 1;

}

.carousel-button {
    position: absolute;
    display: inline;
    top: 18vh;
    left: 28vw;
    z-index: 2;

}

.carousel-text-small {
    font-size: 1.5rem;
    position: absolute;
    display: inline;
    top: 18vh;
    left: 45vw;
    max-width: 30vw;
    font-family: 'Playfair Display', serif; 
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000000;
    z-index: 1;

}

.carousel-background-img {
    position: absolute;
    top: -40vh;
    z-index: 0;
    opacity: 10%;
    z-index: 0;
}

p:hover {
    color: grey;
}

svg:hover {
    color: grey;

}
i {
    font-size: 0.9rem;
}

i:hover {
    color: lightgrey;
}

.nav-link {
    font-family: 'Playfair Display', serif; 
    color: darkslategrey;
}

li {
    list-style-type: none;
  }

.logos {
    margin-left: 1vw;
    margin-right: 1vw;
}

.bi {
    margin-right: 0vw;
    margin-bottom: 0.5vh;
}

.search-button {
    margin-right: 1vw;
    width: 30vw;
}

.login-container {
    width: 33vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 2rem;
    background-color: lightblue;
    border-radius: 20px;
}

.offcanvas-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.basket-item-container {
    margin-left: 0%;
    width: 80%;
    height: 20%;
    margin-bottom: 0%;


}

.basket-item-container-left {
    height: 19vh;
    margin-top: 3%;
    padding-right: 0;

}
.basket-item-container-right {
    height: 19vh;
    margin-top: 3%;
    padding-left: 0;


}




.contact-image-container {
    background-color: lightblue;
    width: 100%;
    height: 50vh;
}

.contact-img {
    position: absolute;
    object-fit: contain;
    height: 50vh;
    border-radius: 0 200px 200px 0;
    z-index: 0;
}

.contact-cards-container {
    width: 90%;
    margin-left: 5%;
}

.contact-card {
    position: relative;
    left: 2vw;
    bottom: 5vw;
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 40vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
}

.contact-card-inner-container-upper {
    width: 80%;
    height: 30%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact-card-inner-container-lower {
    width: 80%;
    height: 55%;
    margin-left: 10%;
    display: flex;
    align-items:flex-end;
    justify-content: center;

}

.bi-telephone-fill {
    width: 2.0rem;
    height: 2.0rem;
    color: black;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.contact-card-title {
    font-size: 2rem;
    font-family: 'Playfair Display', serif; 
}

.contact-card-title-large {
    position: absolute;
    font-size: 5rem;
    z-index: 1;
    left: 40%;
    top: 25%;
}

.bi {
    width: 1.25rem;
    height: 1.25rem;
}

.contact-card-buttons {
    width: 80%;
    display: block;
}

.contact-card-text {
    position: absolute;
    top: 35%;
    left: 25%;
    max-width: 50%;
    
}

.details-container {
    margin-top: 4rem;
    margin-bottom: 5rem;
}


.details-title {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
}

.details-text-secondary {
    font-size: 1.25rem;
    font-style: italic;
    color: grey;

}

.details-p { 
    margin-top: 3vh;
    max-width: 34vw;
    margin-bottom: 3vh;
}

.details-img {
    height: 70vh;
    margin-left: 10rem;
}

.details-text-tertiary {
    font-size: 1.75rem;
    display: inline;
    margin-right: 0.5rem;
}

.details-img {
    border: solid 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.login-container {
    width: 75vh;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
}

.col-2-categories {
    margin-top: 2vh;
    height: 20vh;
    border-left: solid 0px lightgrey;
    border-right: solid 0px lightgrey;
}

.small-img-categories {
    object-fit: contain;
    margin-top: 0px;
    width: 100%;
    height: 90%;
    border-radius: 100px;
    margin-bottom: 0.5rem;
    opacity: 70%;

    transition: all 0.2s;
}

.small-img-categories:hover {
    opacity: 50%;
    height: 80%;
}

.category-row {
    margin-bottom: 3rem;
}

.category-container {
    margin-bottom: 0rem;
    height: 38vh;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; bottom: -10%}
    100% { opacity: 1; bottom: 5%}
  }
  

.pop-up {
    position: sticky;
    bottom: 5%;
    left: 5%;
    width: 17%;
    height: 80px;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Playfair Display', serif;
    border: solid 1px rgb(209, 208, 208);
    font-size: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s;

}

.incorrect {
    color: red;
    margin-bottom: 1rem;
}

.correct {
    color: green;
    margin-bottom: 1rem;
}

/* XLL BREAKPOINT */
@media only screen and (max-width: 1400px) {
    .nav {
        display: none;
    }

    .col-md-3 {
        margin-bottom: 5vh;
    }
    .container {
        margin-bottom: 53vh;
    }

    .pop-up {

        width: 25%;

    
    }
    
    
}

/* L BREAKPOINT */
@media only screen and (max-width: 1200px) {
    .navbar-brand {
        display: none;
    }

    .search-button {
        width: 90%;
    }

    .carousel-text-heading {
        font-size: 2.5vh;
    
    }
    .carousel-text-small {
        left: 40vw;
    
    }
    .col-md-3 {
        margin-bottom: 8vh;
    }
    .container {
        margin-bottom: 60vh;
    }

    .category-row {
        margin-bottom: 0rem;
    }
    .footer {
        margin-top: 100vh;

    }




}


/* M BREAKPOINT */
@media only screen and (max-width: 992px) {
    .svgs {
        display: none;
    }
    .carousel-text-heading {
        font-size: 2.5vh;
        max-width: 25vw;
    
    }
    .carousel-text-small {
        left: 41vw;
        font-size: 1.0rem;
    
    }
    .contact-card-title-large {
        font-size: 4rem;

        left: 20%;
    }
    .contact-img {
        opacity: 50%;
    }
    .contact-card {

        width: 75vw;

    }
    .pop-up {

        width: 33%;

    
    }

    



}

/* SM BREAKPOINT */
@media only screen and (max-width: 768px) {
    .carousel-text-small {
        left: 28vw;
        font-size: 0.75rem;
        top: 23vh;
    }

    
    .carousel-button {
        display: none;

    
    }
    .container {
        margin-bottom: 120vh;
    }
    .lic {  
        font-size: 0.75rem;
    }
    .pop-up {

        width: 45%;

    
    }



}

/* XS BREAKPOINT  */
@media only screen and (max-width: 576px) {
    .container {
        margin-bottom: 180vh;
    }
    .pop-up {

        width: 90%;

    
    }

}

/* XXS BREAKPOINT  */
@media only screen and (max-width: 430px) {
    .small-carousel-img {
        position: absolute;
        object-fit: contain;
        margin-top: 2px;
        width: 100%;
        height: 70%;
        margin-left: 24vw;
        z-index: 1;
    }
    .carousel-text-small {
        display: none;
    }
    .footer {
        height: 50vh;

    }
    .lic {
        margin-top: 20vh;
    }
    .contact-card-text {
        position: absolute;
        top: 35%;
        left: 10%;
        max-width: 90%;
        
    }
    .contact-card {

        height: 50vh;

    }

}
